In [1]:
import os
import pandas as pd
print(pd.__version__)

path = './data/'
filename_read = os.path.join(path,'iris.csv')
filename_write = os.path.join(path,'output.csv')
print(filename_read)

0.20.3
./data/iris.csv

In [2]:
df = pd.read_csv(filename_read)

In [10]:
df[3:6]

   sepal_l  sepal_w  petal_l  petal_w      species
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa
5      5.4      3.9      1.7      0.4  Iris-setosa

In [14]:
df.to_csv(filename_write,index=False)